@font-face {
  font-family: "Lux-Montag";
  src: local("Lux-Montag"), url("./Fonts/Lux-Montag.ttf") format("truetype");
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lux-Montag";
  /* overscroll-behavior-y: contain; */
}

.pointer {
  cursor: pointer;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.body {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #850d11;
  z-index: -4;
}

.header {
  position: fixed;
  width: 100vw;
  height: 13vh;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #292929;
}

.icon {
  width: 11vh;
  position: absolute;
  top: 1vh;
  left: 10px;
}

.title {
  font-size: 20pt;
  color: #ffffff;
  position: absolute;
  width: 80%;
  left: 15%;
  top: 30%;
  text-align: center;
}

.home {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 90vw;
  height: 90vh;
  top: 8vh;
  left: 5vw;
  z-index: -3;
}

.home-btn {
  width: 60%;
  height: 8%;
  border: none;
  border-radius: 17px;
  background-color: #292929;
  color: #ffffff;
  font-size: 14pt;
}

.dates {
  position: fixed;
  width: 90vw;
  height: 80vh;
  top: 15vh;
  left: 5vw;
}

.select {
  position: absolute;
  width: 30%;
  height: 5%;
  left: 35%;
  top: 5%;
  border: none;
  border-radius: 17px;
  text-align: center;
  font-size: 12pt;
}

.container {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 80%;
  height: 100%;
}

.event {
  display: grid;
  grid-template-columns: 60% 40%;
  position: absolute;
  width: 100%;
  height: 10%;
  background-color: #292929;
  border-top: 2px solid #850d11;
  border-left: 2px solid #850d11;
  border-right: 2px solid #850d11;
}
.first {
  top: 0%;
}

.second {
  top: 10%;
}

.party {
  top: 20%;
}

.third {
  top: 30%;
}

.parade {
  top: 40%;
}

.awards {
  top: 50%;
}

.trip {
  top: 60%;
  border-bottom: 2px solid #850d11;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid #850d11;
  color: white;
}

.date {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.street-letters {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 90vw;
  height: 80vh;
  top: 15vh;
  left: 5vw;
}

.results-container {
  padding: 10px;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 15%;
  border-radius: 17px;
  background-color: #292929;
}

.overflow {
  height: 88%;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.overflow::-webkit-scrollbar {
  display: none;
}

.results {
  text-align: justify;
  color: white;
}

.results > p {
  padding: 5px;
}

.caesar-cipher {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 90vw;
  height: 80vh;
  top: 15vh;
  left: 5vw;
  /* background-color: blue; */
}

.input {
  position: absolute;
  padding: 5pt;
  top: 5%;
  height: 30%;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 17px;
  resize: none;
}

.key-container {
  position: absolute;
  top: 41%;
  height: 6%;
  width: 100%;
}

.down {
  position: absolute;
  top: 45%;
  left: 22%;
  height: 100%;
  width: 15%;
  font-size: 15pt;
  text-align: center;
  border: none;
  border-radius: 17px;
  background-color: #292929;
  color: white;
}

.key {
  position: absolute;
  top: 45%;
  left: 42.5%;
  height: 100%;
  width: 15%;
  font-size: 15pt;
  text-align: center;
  outline: none;
  border: 1px solid #292929;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.up {
  position: absolute;
  top: 45%;
  left: 63%;
  height: 100%;
  width: 15%;
  font-size: 15pt;
  text-align: center;
  border: none;
  border-radius: 17px;
  background-color: #292929;
  color: white;
}

.output {
  position: absolute;
  padding: 5pt;
  top: 60%;
  height: 30%;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 17px;
  resize: none;
}
